*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/vcs.xml
app/caches/7.2/file-changes/last-build.bin
app/caches/7.2/fileContent/fileContent.lock
app/caches/7.2/scripts/3b4r28e75mysk4nnjohlm6jmw/3b4r28e75mysk4nnjohlm6jmw.lock
app/caches/7.2/fileHashes/fileHashes.bin
*.bin
*.lock
*.class
*.properties
*.jar
*.receipt
*.pom
*.module
*.aar
*.0-runtime
*.txt
*.xml
*.zip
*.dex
*.2-runtime
*.10
*.0
*.aidl
*.1-runtime
*.6-runtime
*.1
*.3-runtime
*.flat
*.4-runtime
*.4
*.exe
*.MF
app/caches/transforms-3/e314f352c61532dfaa9da1378dba3a9f/transformed/aapt2-7.2.2-7984345-windows/NOTICE
*.log
*.dll
*.lck
*.ok
app/wrapper/dists/gradle-7.2-bin/2dnblmf4td7x66yl1d74lt32g/gradle-7.2/bin/gradle
*.bat
app/wrapper/dists/gradle-7.2-bin/2dnblmf4td7x66yl1d74lt32g/gradle-7.2/LICENSE
app/wrapper/dists/gradle-7.2-bin/2dnblmf4td7x66yl1d74lt32g/gradle-7.2/NOTICE
*.html
*.css
*.png
*.js
*.svg
*.gif
*.java
*.groovy
app/wrapper/dists/gradle-7.3.3-all/4295vidhdd9hd3gbjyw1xqxpo/gradle-7.3.3/README
app/wrapper/dists/gradle-7.3.3-all/4295vidhdd9hd3gbjyw1xqxpo/gradle-7.3.3/NOTICE
app/wrapper/dists/gradle-7.2-bin/2dnblmf4td7x66yl1d74lt32g/gradle-7.2/README
app/wrapper/dists/gradle-7.3.3-all/4295vidhdd9hd3gbjyw1xqxpo/gradle-7.3.3/bin/gradle
app/wrapper/dists/gradle-7.3.3-all/4295vidhdd9hd3gbjyw1xqxpo/gradle-7.3.3/docs/javadoc/element-list
app/wrapper/dists/gradle-7.3.3-all/4295vidhdd9hd3gbjyw1xqxpo/gradle-7.3.3/docs/javadoc/package-list
app/wrapper/dists/gradle-7.3.3-all/4295vidhdd9hd3gbjyw1xqxpo/gradle-7.3.3/docs/userguide/userguide.pdf
app/wrapper/dists/gradle-7.3.3-all/4295vidhdd9hd3gbjyw1xqxpo/gradle-7.3.3/LICENSE
app/wrapper/dists/gradle-7.3.3-bin/6a41zxkdtcxs8rphpq6y0069z/gradle-7.3.3/bin/gradle
app/wrapper/dists/gradle-7.3.3-bin/6a41zxkdtcxs8rphpq6y0069z/gradle-7.3.3/LICENSE
app/wrapper/dists/gradle-7.3.3-bin/6a41zxkdtcxs8rphpq6y0069z/gradle-7.3.3/NOTICE
app/wrapper/dists/gradle-7.3.3-bin/6a41zxkdtcxs8rphpq6y0069z/gradle-7.3.3/README
